/* signup.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e6f4e6; 
  transition: background-color 0.5s ease-in-out;
}
.auth-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
.auth-form {
  flex: 1;
  padding: 40px;
  background: #fff;
}
.auth-form h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.form-description {
  margin-bottom: 30px;
  font-size: 14px;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}
.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.form-actions {
  margin-bottom: 20px;
}
.form-actions button {
  width: 100%;
  padding: 12px;
  background-color: #1f3d1f;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.form-actions button:hover {
  background-color: #254c25;
}
.oauth-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.oauth-buttons button {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 8px;
  margin: 0 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.oauth-buttons img {
  height: 20px;
  margin-right: 8px;
}
.form-footer {
  font-size: 14px;
  text-align: center;
}
.form-footer a {
  color: #0a58ca;
  text-decoration: none;
}
.error {
  color: red;
  font-size: 13px;
  display: none;
}
.auth-image {
  flex: 1;
  background-position: center;
  background-size: cover;
  min-height: 600px;
  /* Add your image in background-image property below */
  background-image: url('Accesories/photo-1525498128493-380d1990a112.avif'); /* <- your image path */
}

button:focus-visible,
input:focus-visible {
  outline: 2px solid #1f3d1f;
  outline-offset: 2px;
}
